body{
    background-color: rgb(243, 243, 243);
}

#titulo{
    text-align: center;
}
#titulo_descricao{
    text-align: left;
}
#titulo_resultado{
    text-align: left;
}
#area_botoes{
    text-align: center;
}
